@page
@model PIM_3.Pages.IndexModel
@{
    ViewData["Title"] = "Home - PIM III";
}

<div style="margin-top: 20px;">
    <a href="/Produtos"
           style="padding: 10px 20px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px;">
        Acessar Controle de Estoque
    </a>
</div>