@page
@model PIM_3.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard de Estoque";
}

@* Container principal onde o JS vai desenhar tudo *@
<div id="app-root"></div>

@section Scripts {
    <script src="/js/home.js"></script>
}